<!-- Your form goes here! -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	

    <form action="/searches" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type="text" name="q">
          <input type="submit"  value="Search">
        </form>

</body>
</html>